/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
/* сохраните в разметке и стилях класс page. На его основе работает скрипт. */

/* ------------------Header------------------------------------ */

.page {
  color: var(--general-text-color, #f1b2ce);
  font-family: var(--general-font-family, monospace);
  background-color: var(--background-color);
  background-image: var(--cover-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: 10px;
  height: 100vh;
  inline-size: 100%;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  border-inline-end: 1px solid var(--common-color);
  border-block-start: 1px solid var(--common-color);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-inline-start: 1px solid var(--common-color);
  border-block-end: 1px solid var(--common-color);
  inline-size: 25px;
  block-size: 25px;
}

.position__rec {
  position: absolute;
  top: 11px;
  right: 18px;
  display: var(--rec-display);
  color: var(--accent-color);
  text-transform: uppercase;
}

.position__rec::before {
  visibility: visible;
}

.position__rec::after {
  content: "";
  display: inline-block;
  margin-inline-start: 10px;
  border-radius: 50%;
  background-color: var(--general-background-color, #ff0070);
  box-shadow: 0 0 4px 2px var(---general-background-color, #ff0070);
  inline-size: 12px;
  block-size: 12px;
}

.header__theme-menu {
  align-self: center;
  color: var(--common-color);
  font-size: var(--general-font-size);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.header__theme-menu-item {
  flex-wrap: wrap;
  align-self: end;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
}

.header__theme-menu-button {
  min-width: 70px;
  min-height: 26px;
  font-weight: 400;
  font-size: var(--general-font-size);
  line-height: 18px;
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button_type_light {
  border: var(--border-width-day) solid var(--common-color);
}

.header__theme-menu-button_type_dark {
  border: var(--border-width-neon) solid var(--common-color);
}

.header__theme-menu-button_type_auto {
  border: var(--border-width-auto) solid var(--common-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--common-color);
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--common-color);
  outline: none;
}

.header__title {
  color: var(--title-color);
  font-weight: 700;
  font-size: var(--font-size-title);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text {
  display: grid;
  grid-template-columns: 1fr;
}

.header__content {
  grid-column: 2/3;
  align-self: center;
  height: fit-content;
  font-size: var(--general-font-size);
  background-color: var(--general-background-color);
}

.header__decoration {
  font-weight: 700;
  line-height: 23.4px;
}

.title-decor {
  color: var(--subtitle-color);
  background-color: var(--general-background-color);
}

/* ---------------------------Main---------------------------------------------- */

.container {
  margin: 0;
  padding-inline: 10px;
}

.container__desc {
  display: grid;
  grid-template-columns: 1fr;
  margin-block-start: 40px;
}

.container__desc-title-div {
  color: var(--common-color);
  font-weight: 700;
  font-size: var(--general-font-size);
  line-height: 23.4px;
}

.container__desc-question {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.container__desc-title {
  margin-block-end: 20px;
  color: var(--common-color);
  font-weight: 700;
  font-size: var(--general-font-size);
  line-height: 23.4px;
}

.container__desc-subtitle {
  font-weight: 700;
  font-size: var(--general-font-size);
  line-height: 23.4px;
  background-color: var(--general-background-color);
}

.container-size {
  margin-block-start: 30px;
}

.container__standard {
  margin-block-start: 10px;
  margin-block-end: 20px;
}

.container__descoration {
  font-family: var(--general-font-family, monospace);
  font-weight: 400;
  font-size: var(--general-font-size);
  line-height: 23.4px;
}

.container__card {
  display: grid;
  grid-template-columns: 1fr;
}

.container__card-decoration {
  font-weight: 400;
  font-size: var(--general-font-size);
  line-height: 23.4px;
  background-color: var(--general-background-color);
}

.link__decoration {
  text-decoration: none;
  text-shadow: 1px 2px 0 var(--accent-color);
}

.container__card-margin {
  margin-block-end: 20px;
}

/* --------------------Decoration Link--------------------------- */

a {
  text-decoration: none;
  text-shadow: var(--title-color) 1px 1px;
}

a:hover {
  outline: none;
  text-decoration: underline;
}

a:focus-visible {
  border: 1px solid var(--general-text-color);
  outline: none;
}

/* --------------------Gallery----------------------------------- */

.container__gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block-start: 10px;
}

.picture {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.sunset {
  grid-area: sunset;
}

.ice-cream {
  grid-area: ice-cream;
}

.tape {
  grid-area: tape;
}

.books {
  grid-area: books;
}

.street {
  grid-area: street;
}

/* -----------------------Footer------------------------------------*/

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 40px;
  padding: 10px;
  height: 100vh;
}

.footer-title {
  color: var(--title-color);
  font-size: var(--font-size-title);
  text-shadow: 2px 2px 0 var(--accent-color);
}

/* -----------------Медиазапросы-------------------------------------- */

@media (min-width: 768px) {
  .header {
    padding: 20px;
  }

  .header__text {
    grid-template-columns: repeat(2, 1fr);
  }

  .header__title {
    margin-inline-start: -20px;
    font-size: var(--font-size-standard);
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .position__rec {
    top: 21px;
    right: 28px;
  }

  .container {
    padding-inline: 20px;
  }

  .container__desc {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin-block-start: 60px;
    margin-block-end: 60px;
  }

  .container-size {
    margin-block-start: 0px;
    margin-block-end: 60px;
  }

  .container__desc-question {
    grid-template-columns: repeat(3, 1fr);
  }

  .container__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
    gap: 20px;
    margin-block-start: 20px;
  }

  .footer-title {
    font-size: var(--font-size-standard);
  }

  .footer {
    padding: 20px;
  }
}

/* -------------------------------------------------------------- */

@media (min-width: 1024px) {
  .header__title {
    text-shadow: 4px 4px 0px #ff0070;
  }

  .header__theme-menu {
    align-self: flex-start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .container__card {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .container__desc {
    gap: 10px;
  }

  .footer-title {
    text-shadow: 4px 4px 0px #ff0070;
  }
}
