/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --title-color: #db00ff;
  --subtitle-color: #000028;
  --background-color: #000028;
  --accent-color: #ff0070;
  --common-color: #ff0070;
  --general-text-color: #f1b2ce;
  --general-background-color: #ff0070;
  --button-menu: #32312d;
  --general-font-family: "IBM Plex Mono", "monospace";
  --general-font-size: 18px;
  --cover-image: url(../images/cover-image-dark.png);
  --border-width-auto: 1px;
  --border-width-neon: 0px;
  --border-width-day: 0px;
  --font-size-title: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-size-standard: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --rec-display: block;
}
